{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				<h1>Editar perfil</h1>
			</div>
			<div class="col">
				<a href="{{ path('profile_view') }}" class="btn btn-dark float-end">
					<i class="bi bi-arrow-left"></i>
					Volver
				</a>
			</div>
		</div>
		<div class="row">
			{{ form_start(form) }}
			{{ form_row(form.avatar) }}
			{{ form_row(form.name) }}
			{{ form_row(form.save) }}
			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}
