<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Acceso Abogacía{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('img/test_abogacia_logo.svg') }}">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div id="login-view" class="row justify-content-center align-items-center">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row text-center">
                            <div class="col py-4">
                                <img src="{{ asset('img/test_abogacia_logo.svg') }}" alt="Test de acceso" width="30"
                                    height="24">
                                <br>
                                <span class="icon-title fs-3">PortuetxeDeluxe</span>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <h4 class="fw-normal mt-2 mb-3">Inicia sesión</h4>
                            </div>
                        </div>
                        <div class="row">
                            {% if error %}
                            <div class="alert alert-danger alert-dismissible fade show py-2" role="alert">
                                <i class="bi bi-exclamation-triangle-fill"></i>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                    style="padding: 12px;"></button>
                            </div>
                            {% endif %}
                            <form action="{{ path('app_login') }}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Email</label>
                                    <input id="username" type="email" name="_username" class="form-control"
                                        value="{{ last_username }}">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input id="password" class="form-control" type="password" name="_password">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="{{ path('app_register') }}" class="btn">Registrarse</a>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-dark float-end">Entrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>